body {
  position: relative;
  color: $textColor;
  background: #f5f5f5;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  font-family: $baseFontFamily;
  margin: 0;
}

#banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 400px;
  z-index: 10;
  background: url("/images/fengche-banner-bg.jpg") no-repeat fixed;
  background-size: 100% auto;
  opacity: 0.8;

  img {
    left: 0px;
    width: 100%;
    //height: 500px;
    position: relative;
  }
}

#cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 500px;
  z-index: 10;
  opacity: 0.8;

  img {
    max-width: 100%;
  }
}

#subscribe-cta {
  form {
    background-color: #A6C6AF;
    text-align: center;
    color: #4C725E;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    input {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
      background-color: white;
      border: 1px solid #cccccc;
      @include box-shadow(inset 0 1px 1px rgba(0,0,0,0.075));
      @include transition(border linear .2s,box-shadow linear .2s);
      height: 16px;
      padding: 4px 6px;
      font-size: 16px;
      line-height: 24px;
      color: #555555;
      @include border-radius(4px);

      &.btn {
        height: 24px;
        color: white;
        background-color: #51a351;
        padding: 2px 6px;
      }
    }
  }
}

.subscribe-form {
  form {
    display: none;

    input {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
      background-color: white;
      border: 1px solid #cccccc;
      @include box-shadow(inset 0 1px 1px rgba(0,0,0,0.075));
      @include transition(border linear .2s,box-shadow linear .2s);
      height: 16px;
      padding: 4px 6px;
      font-size: 16px;
      line-height: 24px;
      color: #555555;
      @include border-radius(4px);

      &.btn {
        height: 24px;
        color: white;
        background-color: #51a351;
        padding: 2px 6px;
      }
    }
  }
}

.with-cover {
  #header {
    padding-bottom: 3em;
  }
}

#header {
  position: relative;
  z-index: 20;
  padding-bottom: 2em;

  #nav {
    background-color: rgba(0, 0, 0, .4);
    -webkit-transition: padding-left .5s ease-out;

    ul {
      text-align: center;
      padding: 0;
      margin: 0;
      list-style: none;
      list-style-image: none;

      li {
        display: inline-block;
        position: relative;
        text-align: -webkit-match-parent;
        margin-left: 35px;

        &:first-child {
          margin-left: 0px;
        }

        &.active a {
          color: #fff;
        }

        a {
          color: rgba(255, 255, 255, .6);
          display: inline-block;
          font-size: 14px;
          line-height: 40px;
          text-transform: none;
          text-decoration: none;
          letter-spacing: 1px;
          font-weight: 400;
          font-style: normal;
        }
      }
    }
  }

  #avatar {
    padding-top: 3em;
    margin-bottom: 20px;
    img {
      width: 128px;
      height: auto;
      margin: 0 auto;
      display: block;
      @include border-radius(100%);
      @include box-shadow(0 0 0 0.618em rgba(0, 0, 0, 0.05));
      @include transition(all ease 0.4s);
      &:hover {
        position: relative;
        @include transform(translateY(-0.75em));
      }
    }
  }

  .site-title, .site-description {
    text-align: center;
    color: #fff;
  }

  .site-title {
    margin: 0;
    margin-bottom: 1rem;
    line-height: 1.333;
    position: relative;
    font-size: 3em;
    font-weight: 300;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  .site-description {
    font-size: .844em;
    font-weight: 400;
    letter-spacing: 4px;
    @include opacity(0.75);

    a {
      color: #fff;
    }
  }
}

a {
  color: $linkColor;
  text-decoration: none;
  @include single-transition(all, .2s, ease-in-out);
  &:visited { color: $linkColor; }
  &:hover { color: lighten($linkColor, 15%); }
}
p {
  margin: 0 0 1.5em 0;
}

.main {
  position: relative;
  z-index: 15;

  .container {
    height: 100%;
    min-height: 1000px;
    max-width: 740px;
    width: auto;
    margin: 0 auto;
    padding: 70px 110px 20px 110px;
    background-color: #fff;
  }
}

.pager {
  position: relative;
  margin: 0;
  padding: 0;
  max-width: $copyMaxWidth + $asideWidth;
  border-bottom: 1px solid #d4d7d8;
  height: 40px;
  li {
    list-style: none;
    a {
      display: inline-block;
      line-height: 40px;
      &:hover {
        background-color: darken($mainBgColor, 5%);
      }
    }
    &.next a {
      float: right;
    }
  }
}

.copyright {
  font-size: .95em;
  overflow-x: hidden;
  background-color: #fff;
  color: rgba(119, 119, 119, .5);
  position: relative;
  min-height: 100px;

  p {
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin-bottom: 15px;
  }

  ul {
    position: absolute;
    bottom: 0px;
    right: 0px;

    li {
      display: inline-block;
      margin-right: 8px;
      i {
        font-size: 1.2em;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
form.search {
  text-align: center;
  input {
    border-radius: 15px;
  }
}

.audiojs {
  margin-bottom: 2em;
}
