@media (max-width: 960px) {
  #banner {
    background: url("/images/fengche-banner-bg-960.png") no-repeat fixed;
  }
  #header {
    padding-bottom: 1em;

    #avatar {
      padding-top: 2em;

      img {
        width: 110px;
      }
    }

    .site-title {
      font-size: 2em;
    }
  }
  .main {
    .title {
      font-size: 1.9em;
      line-height: 1.2em;
    }
    .meta {
      font-size: 16px !important;
    }
    .container {
      padding: 60px 90px 15px 90px;
    }
    .post {
      padding: 0;
      .title { margin: 22px auto 0; }
      .content {
        padding: 0;
        .aside {
          margin: 0 20px 0 0;
          img, &.stretch img { margin-right: 0; }
          &.stretch:before { right: 8px; }
        }
        img { max-width: 100%; }
      }
      .aside-block {
        float: none;
        width: auto;
        margin: 0;
        text-align: left;
      }
      .meta {
        margin: 3px 0 20px;
        padding: 0;
        li { display: inline-block; }
      }
      .aside-block blockquote, .aside blockquote { padding: 20px; }

      .about {
        .author-photo img {
          width: 110px !important;
          height: 110px !important;
        }
        .author-content {
          margin-left: 140px !important;
          font-size: 16px !important;

          h4 {
            margin-bottom: 0.8em !important;
          }
          p {
            margin-bottom: 0.5em !important;
          }
          .social-action {
            font-size: 16px !important;
          }
        }
        .entr {
          display: none;
        }
      }
    }
  }

  .main .comments { margin:0; padding: 0; }
  .main .post.profile .connect a { margin-right: 20px; }
  .announcement {
    position: static;
    p { padding: 0; }
    .avatar { width: 20px; height:20px; margin-right: 3px; }
    &.sticky { background: none; opacity: 1; }
  }
}

@media (max-width: 750px) {
  #header {
    .site-title {
      display: none;
    }
  }
  .main .container {
    padding: 50px 70px 10px 70px;

    .about {
      .author-photo img {
        width: 80px !important;
        height: 80px !important;
      }
      .author-content {
        margin-left: 110px !important;
        font-size: 14px !important;

        h4 {
          margin-bottom: 0.5em !important;
        }
        p {
          margin-bottom: 0.5em !important;
        }
        .social-action {
          font-size: 14px !important;
        }
      }
    }

    .profile .projects h3 {
      font-size: 0.95em !important;
    }
  }
}

@media (max-width: 650px) {
  #banner {
    background: url("/images/fengche-banner-bg-650.png") no-repeat fixed;
  }
  #header {
    padding-bottom: 0.5em;

    #avatar {
      padding-top: 1.5em;

      img {
        width: 100px;
      }
    }

    .site-description {
      font-size: .8em;
    }
  }

  .main .container {
    padding: 30px 50px 5px 50px;

    .title {
      font-size: 1.8em !important;
      line-height: 1.1em !important;
    }
    .meta {
      font-size: 15px !important;
    }

    .share {
      zoom: 0.8;
    }

    .profile .projects h3 {
      font-size: 0.85em !important;
    }
  }
}

@media (max-width: 550px) {
  #header {
    padding-bottom: 0.3em;

    #avatar {
      padding-top: 1.2em;

      img {
        width: 80px;

        &:hover {
          position: relative;
          @include transform(translateY(-0.25em));
        }
      }
    }
  }

  .main .container {
    padding: 20px 40px 5px 40px;

    .share {
      zoom: 0.8;
    }
  }
}

@media print, screen and (max-width: 480px) {
  #banner {
    background: url("/images/fengche-banner-bg-480.png") no-repeat fixed;
  }
  #header {
    #avatar {
      position: absolute;
      top: 10px;
      left: 10px;

      img {
        width: 40px;
      }
    }

    .site-description {
      letter-spacing: 3px !important;
    }
  }

  .main { margin: 0; min-height: inherit; }
  .main .container {
    padding: 10px 20px 0px 20px;

    .title {
      font-size: 1.7em !important;
      line-height: 1em !important;
    }
    .meta {
      font-size: 14px !important;
    }

    .about {
      .author-content {
        margin-left: 90px !important;
      }
    }

    .social-action .twitter {
      margin-left: 10px !important;
    }

    .profile .projects h3 {
      font-size: 0.75em !important;
    }
  }
}

@media print, screen and (max-width: 400px) {
  #header {
    nav ul li {
      margin-left: 20px !important;
      &:first-child {
        margin-left: 10px !important;
      }
    }

    #avatar {
      padding-top: 1em;
    }

    .site-description {
      letter-spacing: 2px !important;
    }
  }

  .main .container {
    .about {
      .author-photo img {
        width: 70px !important;
        height: 70px !important;
      }
      .author-content {
        margin-left: 80px !important;
        font-size: 13px !important;

        p {
          margin-bottom: 0.4em !important;
        }
        .social-action {
          font-size: 14px !important;
          position: absolute;
          left: 40px;

          .twitter {
            margin-left: 20px !important;
          }
        }
      }
    }
  }
}
