/* Typography */

$sansFontFamily:        Consolas, monaco, monospace, 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, STHeiti, 'WenQuanYi Micro Hei', sans-serif;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif !default;

$monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace !default;

$baseFontSize:          16px !default;
$baseFontFamily:        $sansFontFamily !default;
$baseLineHeight:        30px !default;
$altFontFamily:         $serifFontFamily !default;

$headingsFontFamily:    inherit !default; // empty to use BS default, $baseFontFamily
$headingsFontWeight:    bold !default;    // instead of browser default, bold
$headingsColor:         inherit !default; // empty to use BS default,

/* Colors */
$textColor:             #001d33;
$linkColor:             #1997c3;
$sidebarLinkColor: 		#aae1f3;
$sidebarLinkHoverColor: #da76bb;
$asideColor: #8a8c8d;
$siteNameColor: #fff;
$postTitleColor: #5f747f;

$sidebarBgColor: #1997c3;
$mainBgColor: #f2f4f4;

$hairLineColor: #d4d7d8;

/* Gutters */
$sideWidth: 100px;
$copyMaxWidth: 600px;
$asideWidth: 320px;
$asideGap: 40px;