<% wrap_layout :layout do %>
  <article>
    <h3>
      <%= current_article.title %>
      <span class="pull-right"><%= current_article.date.strftime('%b %e') %><span>
    </h3>
    <ul class="tag-list">
      <% current_article.tags.each do |tag| %>
        <li><%= tag %></li>
      <% end %>
    </ul>
    <div><%= yield %></div>
  </article>
<% end %>
