<div class="annoucement">
	<p><img class="avatar" src="/images/yedingding.png" alt="Yedingding" /> 有朋友对远程工作、团队协作和项目管理方面感兴趣，欢迎来和我聊聊，skype: yedingding | gtalk: yedingding@gmail.com | QQ: 123456</p>
</div>