---
changefreq: monthly
priority: 0.7
---

<article class="post profile">

  <header>
    <h2 class="title">Growing Tech Entrepreneur</h2>
  </header>

  <div class="content">

    <p>七年远程工作者，系统架构师，<a href="https://fengcheco.com?utm_content=profile">Fengche.co</a> 联合创始人，<a href="http://rubyconfchina.org">RubyConf China</a> 组织者，<a href="http://teahour.fm">Teahour.FM</a> 联合主播。开源狂热者，喜欢解决各种疑难杂症，完美主义兼强迫症者。喜欢研究开发流程及方法论，关注如何改善团队协作，希望 Fengche.co 能帮助技术创业团队更好地做产品！</p>

    <p>如果你在远程工作、团队协作、项目管理和创业方面需要意见，欢迎找我约个时间交流！</p>

    <ul class="connect">
      <li><a href="mailto:yedingding@gmail.com"><i class="fa fa-envelope-o"></i> dingding@fengche.co</a></li>
      <li><a href="skype:sishen.freecity"><i class="fa fa-skype"></i> sishen.freecity</a></li>
      <li><a href="#"><i class="fa fa-comment-o"></i> 61819318</a></li>
    </ul>
  </div>
</article>
