---
changefreq: weekly
priority: 0.7
---

<article class="post profile">

  <header>
    <h2 class="title">The Voice of Dingding Ye</h2>
  </header>

  <aside class="aside-block">
    <ul class="meta">
      <li class="author-photo">
        <a href="<%= data.author['dingding'].link %>">
          <%= image_tag data.author['dingding'].avatar %>
        </a>
      </li>
      <li class="author"><strong><%= data.author['dingding'].name %></strong> <br>Pragmatic.ly 创始人 <br>Teahour.FM 主播</li>
    </ul>
  </aside>

  <div class="content">

    <p>系统架构师，Pragmatic.ly 联合创始人，RubyConf China 组织者，Teahour.FM 联合主播。开源狂热者，喜欢解决各种疑难杂症，完美主义兼强迫症者。喜欢研究开发流程及方法论，关注如何改善团队协作，希望 Pragmatic.ly 能帮助技术创业团队更好地做产品！</p>

    <p>你可以通过以下方式找到他:</p>

    <ul class="connect">
      <li><a href="mailto:yedingding@gmail.com"><i class="icon-envelope"></i></a></li>
      <li><a href="//twitter.com/yedingding"><i class="icon-twitter"></i></a></li>
      <li><a href="//github.com/sishen"><i class="icon-github"></i></a></li>
      <li><a href="//weibo.com/presently"><i class="icon-weibo"></i></a></li>
      <li><a href="//facebook.com/yedingding"><i class="icon-facebook"></i></a></li>
      <li><a href="//cn.linkedin.com/in/yedingding"><i class="icon-linkedin"></i></a></li>
    </ul>
  </div>

</article>
